<h1>
  Welcome to {{ data.title }}
</h1>
<button (click)='onLogoClicked()'>Click</button>
<!--
    Angular input property syntax: [value]="data.title"
    Template reference: #titleInput
        - titleInput is pointing to the native DOM element
        - titleInput.value is its current value
-->
<br><input class="demo" (keyup)='onKeyUp(titleInput.value)'
           [value]="data.title" #titleInput>
<!--
    Other ways of assigning a value
 -->
<br><input class="demo" [value]="'a string'">
<br><input class="demo" value='a string'>
